#Function   #String  #Keyword  #Arguments  #Syntax   #Paranthesis ()  #Case Sensitive Language

In [1]:
print("Hello World 12 * @ #",25.54)

Hello World 12 * @ # 25.54

In [2]:
#Types of data (data types)
#String    Normally written double or single quotation marks
#Integers   Numbers without decimal part        100, 0, -15
#Float      numbers that includes decimal part   55.5, 105.75,-67.75,0.00
#Boolean    True, False

In [3]:
#Printing out different type of data
print('50') #String        str
print(20)      #Integer    int
print(75.5)    #Float type    float
print(True)     #Boolean     bool

50
20
75.5
True

In [4]:
# type()   type function is used to check the type of data that is being used
print(type('50'))
print(type(20))
print(type(75.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
#Variables: are normally used to store values.

#should only consist of letters, digits and underscores and the first letter cannot be a digit
#keywords cannot be used as variable names
Print=20
value2=55.5
value3='Hello'
value4=False
print(value1)
print(value2)
print(value3)
print(value4)

print(type(value1))
print(type(value2))
print(type(value3))
print(type(value4))

NameError: name 'value1' is not defined

#Arithmetic Operators

In [6]:
num1=10
num2=4

print(num1+num2)    #addition
print(num1-num2)     #subtraction
print(num1*num2)     #multiplication
print(num1/num2)    #division
print(num1**num2)   #Exponentiation
print(num1//num2)   #floor division
print(num1%num2)    #Remainder or Modulus

14
6
40
2.5
10000
2
2

In [7]:
#Operator Precedence
#B E DM AS
value2=2+2*2
value= 10*(2+4)-5*2/2**2        # 10*2+4-5*2/4     20+4-5*2/4   20+4-10/4    20+4-2.5    24-2.5  21.5

print(value)

57.5

In [11]:
#Escape Sequence
#\n
print("This\nstring\nhas\nmultiple\nlines")

#\t
print("This\tstring\thas\ttab\tspaces")

#\\
print("This \\tstring \\nhas double slash")

path='C/Users/nhahj'

This
string
has
multiple
lines
This	string	has	tab	spaces
This \tstring \nhas double slash

In [13]:
print("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh\
blllllllllllllllllllllllllllllll\
jjjjjjjjjjjjjjjjjjjjjjjjjjjj")

hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhbllllllllllllllllllllllllllllllljjjjjjjjjjjjjjjjjjjjjjjjjjjj

In [ ]:
#Format strings
#Fstrings
#Type Conversion

In [14]:
#Type Conversion   Convert one type of data into another type of data
value1='87'
value2=70
value3=76.5


# string to integer, int() function
value4=int(value1)
print("The type of value4 is:",type(value4),value4)

#string into float, float()
value5=float(value1)
print("The type of value5 is:",type(value5),value5)

#integer to string, str()
value6=str(value2)
print("The type of value6 is:",type(value6),value6)

#float to string, str()
value7=str(value3)
print("The type of value7 is:",type(value7),value7)

The type of value4 is: <class 'int'> 87
The type of value5 is: <class 'float'> 87.0
The type of value6 is: <class 'str'> 70
The type of value7 is: <class 'str'> 76.5

In [15]:
#Getting input from user using input function
#input()     it always returns you a value in string
name=input("Enter your name: ")

print("The name of user is: ",name)

Enter your name: John
The name of user is:  John

In [18]:
str1='75'
str2='35'
print(str1+str2)   #Concateation (Joining of two strings)
print(str1*5)

7535
7575757575

In [10]:
Print=20
print(Print)

20