In [2]:
#Data types
#string
#integer
#float
#boolean
a='Hello i m 15 years old @gmail'   #string
print(type(a))

b=24  #integer
print(type(b))

c=5.5   #float
print(type(c))

d=False
print(type(d))


e="Hello "
f="world" 
num=6

print(e+str(num))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
Hello 6

In [3]:
num1=10
num2=2

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(3**3) #power Exponentiation
print(11//3)  #floor division  integer division operator
print(11 % 4)   #modulus operator / renainder operator

12
8
20
5.0
27
3
3

In [34]:
#Operator Precedence
#  BE DM AS

# (3+4)*5/2**2-3     #7*5/2**2-3  7*5/4-3   35/4-3   8.75-3   5.75


print((3+4)*5/2**2-3 )

5.75

In [6]:
#print statement and Escape Sequences   \t  \n  \\
a=15
born=2006
print("My age is 15\\nI was born in 2006")

My age is 15\nI was born in 2006

In [43]:
print("number\tsquare\tcubes")
print(2,"\t",2**2,"\t",2**3)

number	square	cubes
2 	 4 	 8