In [11]:
#4 students
#appered in 5 subjects and got different scores
result=[["Kareem",67,88,91,75,50],
        ["John",54,62,15,91,59],
         ["Sara",100,67,98,90,81],
        ["Ali",75,85,65,55,95]
         ]
        #[sum of 1 index, sum of index 2, sum of index 3,sum of index 4,sum of index 5]

for student_scores in result:
    for item in student_scores: #["John",54,62,15,91,59]
        print(item,end="\t")
    print()

Kareem	67	88	91	75	50
John	54	62	15	91	59
Sara	100	67	98	90	81
Ali	75	85	65	55	95

In [5]:
sum_of_indexes=[]
for i in range(1,6):            # i=2
    total=0
    for j in range(len(result)):  #j=0 , j=1 , j=2 , j=3       length=4
        total+=result[j][i]        #j=1,i=1  #296
        
    sum_of_indexes.append(total)
    
result.append(sum_of_indexes)

print(result)

[['Kareem', 67, 88, 91, 75, 50], ['John', 54, 62, 15, 91, 59], ['Sara', 100, 67, 98, 90, 81], ['Ali', 75, 85, 65, 55, 95], [296, 302, 269, 311, 285]]

In [12]:
for j in range(len(result)):
    total=0
    for i in range(1,6):
        total+=result[j][i]     
                                
    result[j].append(total/5)
print(result)

[['Kareem', 67, 88, 91, 75, 50, 74.2], ['John', 54, 62, 15, 91, 59, 56.2], ['Sara', 100, 67, 98, 90, 81, 87.2], ['Ali', 75, 85, 65, 55, 95, 75.0]]

In [14]:
number_list=[3,3,4,2,5,2,2,7,1,1,7,8,9,9,9]        #lis=[1,2,3,4,5,7,8,9]
lis=[]
#sort

In [ ]:
#Prime Numbers
#2,3,5,7,11,13,17,19,23,29,31.....................

In [16]:
#Print even numbers between two ranges.
#Lower range 5                                      6,8,10,12,14,16........30
#Upper range    30               
num1=int(input("Enter a lower range: ")) #5
num2=int(input("Enter an upper range: ")) #30
for numbers in range(num1,num2+1):
    if numbers%2==0:
        print(f"{numbers} is even number")

Enter a lower range: 30
Enter an upper range: 5