In [2]:
#4 students
#appered in 5 subjects and got different scores
result=[["Kareem",67,88,91,75,50],
        ["John",54,62,15,91,59],
         ["Sara",100,67,98,90,81],
        ["Ali",75,85,65,55,95]]

for student_scores in result:
    for item in student_scores: #["John",54,62,15,91,59]
        print(item,end="\t")

Kareem	67	88	91	75	50
John	54	62	15	91	59
Sara	100	67	98	90	81
Ali	75	85	65	55	95

In [ ]:
#for loops are used with iterables (strings, lists,tuples,dictionaries,sets,range)

In [19]:
#range(start value, stop value,step value)
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
#range(start value, stop value,step value)
for i in range(1,10,2):  #start value should be less than stop value when step value is positive
    print(i)

In [27]:
#range(start value, stop value,step value)
for i in range(20,10,-2):  #start value should be greater than stop value when step value is negative
    print(i)

20
18
16
14
12

In [13]:
#4 students
#appered in 5 subjects and got different scores
result=[["Kareem",67,88,91,75,50],
        ["John",54,62,15,91,59],
         ["Sara",100,67,98,90,81],
        ["Ali",75,85,65,55,95]
         ]
        #[sum of 1 index, sum of index 2, sum of index 3,sum of index 4,sum of index 5]

for student_scores in result:
    for item in student_scores: #["John",54,62,15,91,59]
        print(item,end="\t")
    print("\n")

Kareem	67	88	91	75	50

John	54	62	15	91	59

Sara	100	67	98	90	81

Ali	75	85	65	55	95