# Python
* functions  (They perform specific task)
* Every function has a name and paranthesis or round brackets
* print() function. it is used to display any data in output

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello World", "We are learning Python", "Python is a good programming language")

Hello World We are learning Python Python is a good programming language

In [5]:
print(65, 87, 100)

65 87 100

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
print(65, 87, 100, sep = '    ')

65    87    100

In [11]:
print("Hello world")
print("Today is Sunday")
print("Today we have our first lesson")

Hello world
Today is Sunday
Today we have our first lesson

In [12]:
# different errors in python
# Name Error
PRINT("Hello")

NameError: name 'PRINT' is not defined

In [15]:
# Syntax Error
# Syntax is rules that you follow to write a code
print("Hello world)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1744/1998557709.py, line 3)

In [16]:
# Syntax Error
# Syntax is rules that you follow to write a code
print("Hello world"

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_1744/2528533674.py, line 3)

# Data types in python
* strings    str    Whatever value you write inside double quotes or single quotes, it is a string.  "Python"
* integers   int    Numbers without decimal part e.g: 67, 89, 0, -15, 285
* float      float  Numbers with decimal part. e.g: 67.75, 89.17, 65.05, -12.97
* boolean    bool   True, False

In [18]:
print("My name is Mathias", 25, 87.5, True, sep = '    ')

My name is Mathias    25    87.5    True

# Arithmetic Operators
* Addition +
* Multiplication *
* Division /
* Subtraction  -
* Power       **
* Remainder   %
* Floor division  //
* all these arithmetic operators can be used between integers and floats

In [1]:
print(10 + 15)
print(10 - 5)
print(10 * 5)
print( 10 / 3)   # 3.33
print(10 ** 2)
print(10 % 4)
print( 10 // 3)  # 3

25
5
50
3.3333333333333335
100
2
3

# Operator Precedence
* BDMAS
* Brackets Exponentiation Division/Multiplication Addition/Subtraction

In [1]:
print( 3**2 + (5+5) * 2 -5 / 5 )
# 3 ** 2 + 10 * 2 - 5 / 5
# 3 ** 2 + 10 * 2 - 5 / 5
# 9 + 10 * 2 - 5 / 5
# 9 + 20 - 5 / 5
# 9 + 20 - 1.0
# 29 - 1.0
# 28.0

28.0

# Variables
* Variables are used to hold values of different data types with specific name
* name_of_variable = value
* naming a variable has some rules: variable name only consists of letters, digits and underscore
* The first letter of a variable name cannot be a digit
* variable names cannot be keywords

In [4]:
first_name1 = "Mathias"
print(first_name1)

Mathias

In [6]:
first_name = "Mathias"
print(first_name)

Mathias

In [15]:
# prints age, height, name and their date of birth of a person
name = "Mathias"
age = 32
height = 180
year = 1990
print(name, age, height, year)
print(name, age, height, year, sep = "    ")
print("My name is", name, "My age is", age, "My height is", height, "My year of birth is", year)

Mathias 32 180 1990
Mathias    32    180    1990
My name is Mathias My age is 32 My height is 180 My year of birth is 1990

# String Concatenation

In [18]:
# String concatenation, joining two strings with + operator
print("32" + "10")
print(32 + 10)

print("John" + "Peter")

3210
42
JohnPeter

# Type Function
* Type function is used to check the type of any value
* type(value)

In [24]:
print(type("32"))
print(type(100))
print(type(58.75))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [26]:
# type function only accepts a single value
print(type(True))

<class 'bool'>

# Type Casting
* Converting from one data type into another data type
* string into integer, we use int() function
* integer to a string, we use str()
* string to float, we use float() function

In [30]:
x = "32"
print(type(x))
y = int(x)     # converting string to integer
print(type(y))

<class 'str'>
<class 'int'>

In [32]:
x = "Hello"
print(type(x))
y = int(x)     # converting string to integer
print(type(y))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Hello'

In [36]:
x = 100
print(type(x))
y = str(x)     # convert integer to a string
print(type(y), y)

<class 'int'>
<class 'str'> 100

# Escape Sequences
* Escape sequences are strings and are special characters in python used for special purposes
* \t  it is used for a tab space, 4 spaces together
* \n it is used to create or move on to a new line

In [39]:
# \t
print("We are learning Python")
print("We\tare\tlearning\tPython")

We are learning Python
We	are	learning	Python

In [40]:
# \n
print("We are learning Python")
print("We\nare\nlearning\nPython")

We are learning Python
We
are
learning
Python

In [ ]:
# f-strings
# comparison operators
# input function
# if else

In [ ]:
# Homework
# take a float value and convert it into integer and a string
# take a string value and convert it into integer and float
# take an integer value and try to convert it into string and float