In [ ]:
#Data Types
#strings   str  any character written in double quotes or single quotes     "aaaa77@"
#integers  int     4, 5,-8,0
#float     float       7.5,0.06, -20.87
#boolean   bool           True, False

In [11]:
#Argument are the values passed to a function
#Syntax are the rules that you follow to write a code
print('Hello')
print(4)
print(4.56)
print(False)

Hello
4
4.56
False

In [27]:
#type() function
print(type(True))

<class 'bool'>

In [10]:
print("Hello", 4,4.56,False)

print("Hello ----------------------------------------------------------------\
      World")
print("""Hello 
      World""")

Hello 4 4.56 False
Hello ----------------------------------------------------------------      World
Hello
      World

In [ ]:
#variables are used to store values
#Rules to give variable names
#Variable name should only consist of letters, numbers and underscores  _
#The first character of variable name cannot be a number
#It should not be a python keyword

In [13]:
number1=7
print(5_number_1)

SyntaxError: invalid decimal literal (<ipython-input-13-30695d9ad4ee>, line 1)

In [ ]:
# +      addition
# -      subtraction
# *      multiplication
# /      division
# **     Exponentiation
# //     Floor Division / Integer Division
# %      Remainder / Modulus

In [16]:
print(10+3)  #13
print(10-3)  #7
print(10*3)  #30
print(10/3)  #3.333
print(10**3) #  1000
print(10//3) #3
print(12%3)  #1

13
7
30
3.3333333333333335
1000
3
0

In [17]:
print(3+2)

5

In [20]:
print("3" +  '2')

32

In [21]:
print('Hello' + ' world')  # String Concatenation (Using + operator between two strings to combine them)

Hello world

In [ ]:
#Data Type Conversion
#Operator Precedence
#Input function

In [23]:
#Operator Precedence

#(2+2)*2-2
# B E  DM  AS
expr=13*4**2+8/4-(10+5)         #13*4**2+8/4-15    13*16+8/4-15  208+8/4-15    208+2.0-15       210.0-15    195.0
print(expr)

195.0

In [22]:
print(2+2*2)

6

In [ ]:
#Type Conversion
#Coonversion of one data type to another data type

In [37]:
num1=38        #int type
num2=58.75     #float type
str1="780"     #string type

#Conversion from int to a str using str()
value1=str(num1)
print(type(value1))
print(value1)


#Conversion from str to a int using int()
value2=int(str1)
print("The type of value2 is ", type(value2))
print("The value of value2 is", value2)



#Conversion from str to a float using float()
value3=float(str1)
print("The type of value3 is ", type(value3))
print("The value of value3 is", value3)


#convert float to int
#float to a string
#convert int to a float

<class 'str'>
38
The type of value2 is  <class 'int'>
The value of value2 is 780
The type of value3 is  <class 'float'>
The value of value3 is 780.0

In [40]:
#Input function
#input()  it is used for getting a value from the user
#input("Enter your name: ")
#input function always gives you a string value
name=input("Enter your name: ")
print("Your name is: ",name)
print("The type of name is", type(name))

Enter your name: shah
Your name is:  shah
The type of name is <class 'str'>

In [43]:
num1=float(input("Enter first number: "))  #5
num2=float(input("Enter second number: ") )#10
print(num1+num2)

Enter first number: 5.5
Enter second number: 10.5
16.0