# Lists
* used to store multiple items
* collections of data  (lists, tuples, dictionaries, sets)

In [14]:
# using square brackets and giving multiple items separated by commas

fruits=['apple','banana','grapes','mango']
print(fruits)

['apple', 'banana', 'grapes', 'mango']

In [19]:
fruits=list(('apple','banana','grapes','mango'))  #tuple round brackets
print(fruits)
a=list("abcdefgh")
print(a)

['apple', 'banana', 'grapes', 'mango']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [20]:
# Passing different type of data to a list
a=['Emma',23,45,67,True,78.5]
print(a)

['Emma', 23, 45, 67, True, 78.5]

In [64]:
# Ordered, changeable and can contain duplicate values
a=['Emma',23,45,67,True,78.5]

#len(), min(), max(), sum()
print(len(a))  # gives the total number of elements in returnm

b=[22,1,24,8,9,7]
print(min(b))  # minimum value in a sequence in return
print(max(b))  # maximum value in a sequence in return

b=["purple","orange","yellow","white","black","blue","Zebra"]
print(min(b,key=str.casefold))
print(max(b))

b=[22,1,24,8,9,7]
print(sum(b))  # sums all values in a sequence in return

6
1
24
black
yellow
71

In [63]:
# ASCII numbers

print(ord("a"))
print(ord("z"))

print(ord("A"))
print(ord("Z"))

97
122
65
90

# Indexing , negative indexing, slicing
## Accessing items in a list

In [45]:
a=['Emma',23,45,67,True,78.5,45,67,108]

# positive indexing
print(a[0])
print(a[5])
print(a[len(a)-1])

# negative indexing
print(a[-1])
print(a[-len(a)])


# slicing    start, stop, step 
# positive slicing
# start value should be less than stop value
print(a[0:3])
print(a[ :3])
print(a[:])

#step
print(a[ : :3 ])
print(a[2: : ])  #by default step value is 1
print(a[2: :2 ])  
print(a[2: 7:2 ]) 
print(a[2: 8: 2 ]) 



# negative slicing
print(a[-1 : -7 :-1])
print(a[-1 :  :-1])
print(a[ :  :-1])

Emma
78.5
108
108
Emma
['Emma', 23, 45]
['Emma', 23, 45]
['Emma', 23, 45, 67, True, 78.5, 45, 67, 108]
['Emma', 67, 45]
[45, 67, True, 78.5, 45, 67, 108]
[45, True, 45, 108]
[45, True, 45]
[45, True, 45]
[108, 67, 45, 78.5, True, 67]
[108, 67, 45, 78.5, True, 67, 45, 23, 'Emma']
[108, 67, 45, 78.5, True, 67, 45, 23, 'Emma']

# Change item values in a list

In [50]:
a=['Emma',23,45,67,True,78.5,45,67,108]
a[2]=35
print(a)

a[4:7]=["Hello"]
print(a)

['Emma', 23, 35, 67, True, 78.5, 45, 67, 108]
['Emma', 23, 35, 67, 'Hello', 67, 108]

In [54]:
# Use of "in" and "not in" operator with lists
print(78.5 in a)    # returns a boolean value (either True or False)

if 78.5  in a:
    print("True")
else:
    print("False")
    
b="Swimming"
print("ing" in b)

False
True
True

# Using loops over a list

In [68]:
a=['Emma',23,45,67,True,78.5,45,67,108]

for value in a:
    print(value)

# homework    
# print these values on a same line
#print out values of list a using while loop

#using indexing
for i in range(len(a)):
    print(a[i])

Emma
23
45
67
True
78.5
45
67
108
Emma
23
45
67
True
78.5
45
67
108

In [ ]:
list1=[1,2,2,2,7,8,9,7,0,0,3,3]
#[1,2,7,8,9,0,3]

In [ ]:
#List methods
# append()
# clear()
# copy()
# count()
# extend()
#index()
# insert()
# pop()
# remove()
# reverse()
# sort()
# del