# List Methods

* append()
* clear()
* copy()
* count()
* extend()
* index()
* insert()
* pop()
* remove()
* reverse()
* sort()
* del

### Adding Items to a list

In [14]:

a=['Emma',23,45,67,True,78.5,45,67,108]
# append method (It appends a given item at the end of a list)
a.append(3)
print(a)

['Emma', 23, 45, 67, True, 78.5, 45, 67, 108, 3]

In [7]:
#extend
# it takes a sequence
#it extends a sequence to a given list
even=[2,4,6,8]
odd=[1,3,5,7]
even.extend("Python")
print(even)

[2, 4, 6, 8, 'P', 'y', 't', 'h', 'o', 'n']

In [9]:
# Concatenation of two or more lists
# + operator is a concatenation operator
#List concatenation
even=[2,4,6,8]
odd=[1,3,5,7]
odd+=even
print(odd)

[1, 3, 5, 7, 2, 4, 6, 8]

In [11]:
# String Concatenation
a="20"
b="15"
print(a+b)

2015

In [13]:
# List multiplication with integer
even=[2,4,6,8]
print(even*3)

[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [15]:
# insert method
#It takes two arguments, first argument is index value, second argument is the item that you want to insert
# list.insert
even=[2,4,6,8]
even.insert(1,3)
print(even)

[2, 3, 4, 6, 8]

In [16]:
even=[2,4,6,8]
even.insert(1,[4,5,6])
print(even)

[2, [4, 5, 6], 4, 6, 8]

In [19]:
a=[1,2,3]+[5]
print(a)

[1, 2, 3, 5]

### Removing items from a list
* clear()
* pop
* remove
* del

In [20]:
# clear method removes all of the items from your list and makes it empty
# and it takes no argument
a=['Emma',23,45,67,True,78.5,45,67,108]
a.clear()
print(a)

[]

In [26]:
# pop method 
# pop method also takes one argument
# it removes value at a specified index, you provide index value as an argument
# if you donot provide any argument to pop method, it will remove the last item from your list
a=['Emma',23,45,67,True,78.5,45,67,108]
a.pop(0)
print(a)

[23, 45, 67, True, 78.5, 45, 67, 108]

In [33]:
# remove 
# it takes one argument. It should be the item from the list that you want to remove
# it will remove that item

a=['Emma',23,45,67,True,78.5,45,67,108]
a.remove(23)
print(a)

['Emma', 45, 67, True, 78.5, 45, 67, 108]

In [35]:
# del 
# deletes whole list or a specific index
a=['Emma',23,45,67,True,78.5,45,67,108]
del a
print(a)

NameError: name 'a' is not defined

In [22]:
b=[]
print(b)
print(type(b))

[]
<class 'list'>

* copy()
* count()
* index()
* reverse()
* sort()

In [36]:
# copy() method is used to copy one list to another list
# copy() method doesn't takes any argument

a=[1,2,3,4,5,6]
b=a.copy()
print(b)

[1, 2, 3, 4, 5, 6]

In [39]:
# count() method takes only one argument and that is item from the list
# it returns you how many times that item has occured in the list

list1=[1,2,2,2,7,8,9,7,0,0,3,3]
print(list1.count(8))

1

In [44]:
# index method accepts one argument and that is the item from the list
# it will return the index value of that item
# if that item occurs more than once, it will tell the index for the first occurence

list1=[1,2,2,2,7,8,9,7,0,0,3,3]

y=list1.index(2)
print(y)

1

In [45]:
# sort method sorts your list in ascending order

list1=[1,2,2,2,7,8,9,7,0,0,3,3]
list1.sort()
print(list1)

[0, 0, 1, 2, 2, 2, 3, 3, 7, 7, 8, 9]

In [53]:
# to sort a list in a descending order you write reverse=True in sort method
list1=["a","b","z","y","d","e","A","Z"]
list1.sort(key=str.casefold)
print(list1)

['a', 'A', 'b', 'd', 'e', 'y', 'z', 'Z']

### Ways to copy a list

In [64]:
# copy() method is used to copy one list to another list
# copy() method doesn't takes any argument

a=[1,2,3,4,5,6]
b,c,d=a,a,a
print(b)
print(c)
print(d)

print(id(a))
print(id(b))
print(id(c))
print(id(d))

b.pop(1)

print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
2757878921088
2757878921088
2757878921088
2757878921088
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]

In [65]:
a=[1,2,3,4,5,6]
b=a[:]
print(b)

[1, 2, 3, 4, 5, 6]

In [67]:
list1=[1,2,2,2,7,8,3,3,3,4,1,1,1,5,5,5]
# Each value should appear once
# And the resultant list should be sorted
result=[]

for i in list1:
    if i not in result:
        result.append(i)
        
result.sort()
print(result)

[1, 2, 3, 4, 5, 7, 8]

# Nested Lists / Multidimenshional lists

In [71]:
a=[1,2,3,4,5,6,7,8,9]
b=[[1,2,3],[4,5,6],[7,8,9]]
print(len(a))
print(len(b))

for x in a:
    print(x, end="\t")

9
3
1	2	3	4	5	6	7	8	9

In [76]:
b=[[1,2,3],[4,5,6],[7,8,9]]

for x in b:
    for i in x:
        print(i,end="\t")

1	2	3	4	5	6	7	8	9

In [ ]:
# Homework do this using indexing with range function
b=[[1,2,3],[4,5,6],[7,8,9]]

for x in b:
    for i in x:
        print(i,end="\t")

In [82]:
lst1 = [['Carol', '22223333', 25, 65, 48],
        ['Leslie', '23232323', 78, 54, 68],
        ['Haidar', '18493214', 55, 46, 39],
        ['Sel', '50015542', 70, 81, 75],
        ['Maryam', '45228733', 48, 75, 68],
        ['Istiaque', '35503401', 100, 98, 90], 
        ['Morgan', '25678890', 65, 89, 43],
        ['Mehran', '34545742', 65, 78, 87],
        ['Josephine', '04587864', 87, 56, 76], 
        ['Shannon', '44678646', 65, 76, 65],
        ['Anneke', '17850646', 72, 66, 58]]

# Values at 0 index of each list inside lst1 are name of students
# Values at 1 index of each list inside lst1 are students id
# Values at 2 index of each list inside lst1 are marks of english subject
# Values at 3 index of each list inside lst1 are marks of maths subject
# Values at 4 index of each list inside lst1 are marks of computer subject

In [ ]:
# print this lst1
# print names , student ids, marks of english, marks of maths, marks of computer separately
# calculate average of english, maths, computer and store that in a new list and then print it
# print name and id of student who got highest marks in total and lowest marks in total
# delete or remove all those lists whose average marks are below 50
# append the sum of marks at the end of each list