In [4]:
print("number\tsquare\tcube")
print(f"{0}\t{0**2}\t{0**3}")

number	square	cube
0	0	0

In [13]:
number=42339
print(f'{42339//10000}   {(42339//1000)%10}   {(42339//100)%10}   {(42339//10)%10}   {42339%10}')

4   2   3   3   9

In [22]:
number=42339
a=10000
while number>0:
    print(number//a,end="   ")
    number=number%a
    a=a//10

4   2   3   3   9

In [ ]:
#Month Application
month = int(input("Enter a number from 1-12: "))
if month == 1:
    print("January")
elif month == 2:
    print("February")
elif month == 3:
    print("March")
elif month == 4:
    print("April")
elif month == 5:
    print("May")
elif month == 6:
    print("June")
elif month == 7:
    print("July")
elif month == 8:
    print("August")
elif month == 9:
    print("September")
elif month == 10:
    print("October")
elif month == 11:
    print("November")
elif month == 12:
    print("December")
else:
    print("Invalid month")

In [1]:
#Month Application
month = int(input("Enter a number from 1-12: "))
month_values=["Jan", "Feb", "March", "April", "May", "Jun","July", "Aug","Sep","Oct","Nov","Dec"]

if month in range(1,13):
    print(month_values[month-1])
else:
    print("Invalid Month Number")

Enter a number from 1-12: 3
March

In [16]:
def multiply(x,y):
    """
    Multiplies two numbers
    :param x: First integer value
    :param y: Second integer value
    
    :return: returns the multiplication result of two numbers
    """
    return x*y

multiply(5,6)

30