# Our First Lesson

> ()  Paranthesis

> []  Square Brackets

> {}  Braces

In [ ]:
#print function
# it displays the output

#Syntax
# way of writing code, rules that are followed to write a code

#Name Error
#Syntax Error

#Case Sensitive

In [14]:
# print statement
print('Tuesday')

Tuesday

In [9]:
#Pass more than one value
print("abc","Today is tuesday","We are learning Python")

abc Today is tuesday We are learning Python

In [13]:
#separator
#sep
print("abc","Today is tuesday","We are learning Python",sep="--------")

abc--------Today is tuesday--------We are learning Python

# Data Types
> String        str           Anything or any character that you write inside single quotes or double quotes is a string type                                data

> Integer       int          Numbers without decimal part        5,-8,0, 10


> Float         float        These are numbers with decimal part       5.25, -7.75,  0.000

> Boolean       bool         True , False     (The first letter of True and False will always be capital)

In [15]:
print('Tuesday')
print(8)
print(9.95)
print(True)

Tuesday
8
9.95
True

# Type Function
> It checks the type of a value

> type( value )            str

In [21]:
print(type('Tuesday'))
print(type(8))
print(type(9.85))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Variables
> Variables are used to store any type of data

> We use variables to use them later in the code

> Names of variables should only consist of alphabets, digits or underscore

> It should not be any pre defined key word

> The starting letter should not be a digit

In [30]:
#      =    is an Assignment operator that assigns a value to a variable 

number1=75
print(number1)
print(id(number1))

number1=87
print(number1)
print(id(number1))

75
140705149300848
87
140705149301232

# Arithmetic Operators

In [2]:
print( 22.5+5)
print( 22-5)
print( 22*5)
print( 27/5)
print(27 // 5)
print( 5 ** 2)

27.5
17
110
5.4
5
25