In [3]:
print( 22+5)
print( 22-5)
print( 22*5)
print( 27/5)
print(27 // 5)
print( 5 ** 2)
print("Remainder is",13%3)   # % is a modulus operator

27
17
110
5.4
5
25
Remainder is 1

# Operator Precedence
> B E DM AS

In [4]:
# 5+6*(7-3)/2**2     5+6*4/2**2     5+6*4/4  5+24/4     5+6.0        11.0

print(5+6*(7-3)/2**2)

11.0

# Escape Sequences
>These are used with strings
>  \ (Escape character)
>   \n  (New line)
>   \t   (Tab spaces)
>   \\   (To remove the special meaning)
>   \'   (To include single quote)
>   \"   (To include double quote)

In [7]:
print("Hello World")
print("Hello\tWorld")

Hello World
Hello	World
Hello
World

In [8]:
print("Hello\nWorld\nPython")

Hello
World
Python

In [10]:
c='E:\\new.txt'
print(c)

E:\new.txt

In [13]:
# My mother's son is sad
print('My mother\'s son is sad')

My mother's son is sad

In [16]:
# My mother said,"You are sad"

print("My mother said, \"you are sad\"")

My mother said, "you are sad"

# Type Casting
>Converting from one data type to another data type

In [23]:

a="88"
b=5
c=7.8

print(type(a))
print(type(b))
print(type(c))

#Converting string to an integer using int function
v=int(a)
print("Type of v is",type(v),"Value of v is",v)


#Converting integer to a string using str function
v=str(b)
print("Type of v is",type(v),"Value of v is",v)


#Converting string to a float using float function
v=float(a)
print("Type of v is",type(v),"Value of v is",v)


#float to string
#integer to float
#float to integer

<class 'str'>
<class 'int'>
<class 'float'>
Type of v is <class 'int'> Value of v is 88
Type of v is <class 'str'> Value of v is 5
Type of v is <class 'float'> Value of v is 88.0

# input function
> input("string")
> Purpose of input function is to take value from the user
> input function always returns a value in string type

In [25]:
input("Enter a number: ")

Enter a number: 67

'67'

In [26]:
input("Enter your name: ")

Enter your name: Shah

'Shah'

In [27]:
person=input("Enter your name: ")
print(person)

Enter your name: Shah
Shah

In [30]:
number=int(input("Enter a number: "))  #12
print(number/4)

Enter a number: 15
3.75

In [ ]:
#Comparison Operators
#Logical Operators
#if else
#if elif else

In [32]:
#2.1
#2.2
#2.4
#2.5
#2.8