# Problem 1

In [6]:
# Proper variable names
# north : positive velocity , south : negative velocity
# accelerates : abs increases , decelerating : abs decreases
# abs() 
Car_A = 40
Car_A = abs(Car_A) - 10
Car_B = -50
Car_B = Car_B + 2*(10)
Car_B = Car_B + abs(Car_B)
Car_A = Car_B / 2
print(Car_A)
print(Car_B)

0.0
0

# Problem 2 (a)

In [1]:
# for prompting a value in python, we use input() function
# in input function, you can give a string that is displayed to user. input("Enter product name: ")
# input function always returns a string value

# prompted value will be stored in your variable
product_name = input("Enter a name of product: ")

# float function is used here to covert string value to float
unit_price = float(input("Enter unit price of the product: "))

no_of_product = int(input("Enter number of products: "))


print(product_name)
print(unit_price)
print(no_of_product)

Enter a name of product: pizza
Enter unit price of the product: 150
Enter number of products: 10
pizza
150.0
10

# Problem 2 (b)

In [2]:
# len() gives you number of characters in your string, result will be in integer

total_price = unit_price * no_of_product

# ** is used as a power / exponent operator
no_of_char_cubed = len(product_name) ** 3

# we converted float value of total_price into integer using int() function
total_price = int(total_price)

# Comparing
print(total_price - no_of_char_cubed)

1375

# Problem 2 (c)

In [6]:
difference = unit_price - (no_of_product ** 0.5)
print(difference)

146.83772233983163

# While loop
* while loop runs based on a condition
* It keeps looping until the condition becomes false

In [7]:
a = 1

while a < 10 :
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9

In [8]:
# indentation that tells you about block of code
a = 1
while a < 10:
    print(a)
    a = a + 1

print("Outside While loop")

1
2
3
4
5
6
7
8
9
Outside While loop

# Problem 3

In [14]:
Alice = 0
Beth = 100
Day = 0

while Alice < Beth:
    print("Day", Day,"Alice", Alice,"Beth", Beth)
    Day = Day + 1
    Alice = Alice + 1
    Beth = Beth - 2
    
print("Alice exceeds Beth on Day",Day)

Day 0 Alice 0 Beth 100
Day 1 Alice 1 Beth 98
Day 2 Alice 2 Beth 96
Day 3 Alice 3 Beth 94
Day 4 Alice 4 Beth 92
Day 5 Alice 5 Beth 90
Day 6 Alice 6 Beth 88
Day 7 Alice 7 Beth 86
Day 8 Alice 8 Beth 84
Day 9 Alice 9 Beth 82
Day 10 Alice 10 Beth 80
Day 11 Alice 11 Beth 78
Day 12 Alice 12 Beth 76
Day 13 Alice 13 Beth 74
Day 14 Alice 14 Beth 72
Day 15 Alice 15 Beth 70
Day 16 Alice 16 Beth 68
Day 17 Alice 17 Beth 66
Day 18 Alice 18 Beth 64
Day 19 Alice 19 Beth 62
Day 20 Alice 20 Beth 60
Day 21 Alice 21 Beth 58
Day 22 Alice 22 Beth 56
Day 23 Alice 23 Beth 54
Day 24 Alice 24 Beth 52
Day 25 Alice 25 Beth 50
Day 26 Alice 26 Beth 48
Day 27 Alice 27 Beth 46
Day 28 Alice 28 Beth 44
Day 29 Alice 29 Beth 42
Day 30 Alice 30 Beth 40
Day 31 Alice 31 Beth 38
Day 32 Alice 32 Beth 36
Day 33 Alice 33 Beth 34
Alice exceeds Beth on Day 34

In [12]:
Alice = 0
Beth = 100
Day = 0

print("Day", Day,"Alice", Alice,"Beth", Beth)

Day 0 Alice 0 Beth 100

# Problem 4

In [18]:
Alice = 1
Beth = 200
Day = 0

while Alice < Beth*2:
    print("Day", Day,"Alice", Alice,"Beth", Beth)
    Day = Day + 1
    Alice = Alice * 2    # Double her sweets
    Beth = Beth + 100

print("Day", Day,"Alice", Alice,"Beth", Beth)    
print("Alice exceeds double of Beth on Day",Day)

Day 0 Alice 1 Beth 200
Day 1 Alice 2 Beth 300
Day 2 Alice 4 Beth 400
Day 3 Alice 8 Beth 500
Day 4 Alice 16 Beth 600
Day 5 Alice 32 Beth 700
Day 6 Alice 64 Beth 800
Day 7 Alice 128 Beth 900
Day 8 Alice 256 Beth 1000
Day 9 Alice 512 Beth 1100
Day 10 Alice 1024 Beth 1200
Day 11 Alice 2048 Beth 1300
Day 12 Alice 4096 Beth 1400
Alice exceeds double of Beth on Day 12

In [ ]:
def cost(cost, destination):
    pass

cost()

# Functions

In [24]:
def multiply():
    print(10 * 2)
    print("Inside function")
    
multiply()   # Function calling
print("Outside Function")

20
Inside function
Outside Function

In [27]:
# arguments : Values passed to your function when you call your function
# parameters: Variables that receive values from arguments

def multiply(a, b):
    print(a * b)

result = multiply(10 , 5)
print(result)

50
None

In [26]:
# arguments : Values passed to your function when you call your function
# parameters: Variables that receive values from arguments
# return : you can return a value to function calling point with return keyword

def multiply(a, b):
    return a * b

result = multiply(10 , 5)
print(result)

50

# Problem 5

In [33]:
def  online_shop(cost, destination):
    
    if cost < 50 and destination == "Europe":
        shipment_cost = 15
        total_cost = cost + shipment_cost
        return total_cost
    
    if (cost >= 50 and cost < 100) and destination == "Europe":
        shipment_cost = 10
        total_cost = cost + shipment_cost
        return total_cost
    
    if (cost >= 100 and cost < 200) and destination == "Europe":
        shipment_cost = 5
        total_cost = cost + shipment_cost
        return total_cost
    
    if cost >= 200 and destination == "Europe":
        shipment_cost = 0
        total_cost = cost + shipment_cost
        return total_cost
    
    if cost < 100 and destination != "Europe":       # != is not equal symbol
        shipment_cost = 20
        total_cost = cost + shipment_cost
        return total_cost
    
    if cost >= 100 and destination != "Europe":
        shipment_cost = 0
        total_cost = cost + shipment_cost
        return total_cost


result = online_shop(50, "Africa")
print("The total cost is", result)

The total cost is 70

# Problem 6

In [48]:
def problem6(string, filler):
    n = len(string)
    print((string[0] * n) + "*" )
    print((string[1] * (n-1)) + "**" )
    print((string[2] * (n-2)) + "***" )
    

problem6("abc", "*")

aaa*
bb**
c***

In [51]:
def problem6(string, filler):
    n = len(string)
    a = 1
    for i in string:
        print((i*n) + (a * "*")) 
        n = n - 1
        a = a + 1
    

problem6("python", "*")

pppppp*
yyyyy**
tttt***
hhh****
oo*****
n******

In [53]:
a = "python"

for x in a:
    if x == "h":
        print(x)

h

# for loops
* for loops can be used with iterables (strings, lists, tuples, range, dictionary, sets)

In [47]:
# Joining of two strings with + operator
print("aaa" + "***")

aaa***

In [37]:
# Indexing is used to acces element or character from a string
a = "Python"
print(a[0])
print(a[3])

P
h

In [38]:
# Multiplication with strings
print("Z" * 5)

ZZZZZ

In [34]:
# How to check lenght of a string
a = "Python"
print(len(a))

6

 # Homework
 * Remainder operator in python
 * and operator, or operator in if else
 * for loops
 * lists and list methods
 * for loops with lists and strings
 * functions, function calling, function returning, arguments and parameters of a function
 * indexing with strings, lists
 * slicing in strings and lists