# Concatenation
#String formatting
type conversion
#fstrings
#Operator Precedence
#input function

In [2]:
str1="Today is tuesday "
str2="Tomorrow is wednesday"
print(str1+str2)  #Concatenation or joining two strings

Today is tuesday Tomorrow is wednesday

In [4]:
str3=str1+str2
print(str3)     #We cannot concatenate str with integer or float value

Today is tuesday Tomorrow is wednesday

# Type Conversion

In [13]:
num1=38
num2=58.75
str1="780"

num3=str(num1)    #integer to string conversion
num4=str(num2)    #float to string conversion
print(type(num1))
print(num3)
print(type(num3))
print(num4)
print(type(num4))

num5=int(str1)    #String to Integer conversion
print(num5)
print(type(num5))


num6=float(str1)    #String to float conversion
print(num6)
print(type(num6))

str2="Friday"
num7=int(str2)      #Wrong type conversion
print(num7)

<class 'int'>
38
<class 'str'>
58.75
<class 'str'>
780
<class 'int'>
780.0
<class 'float'>

ValueError: invalid literal for int() with base 10: 'Friday'

# String formatting

In [2]:
#Writing Integer or float values with the strings inside print() function
age=23
print("My age is "+ str(age)+" I was born in "+str(1998))  #1. Using type conversion

print("My age is",age,"I was born in "+str(1998))     #2. Using separator ,

My age is 23 I was born in 1998
My age is 23 I was born in 1998

In [25]:
print("My age is {} and I was born in {}. I have {} cars".format(age,1998,3))  #3. Using string formatting

My age is 23 and I was born in 1998. I have 3 cars

# fStrings

In [4]:
print(f"My age is {age} and I was born in {1998}. I have {3} cars. And I know {5} multiply by {2.5} is {5*2.5}") #4th way

My age is 23 and I was born in 1998. I have 3 cars. And I know 5 multiply by 2.5 is 12.5

# Operator Precedence

In [28]:
#(2+2)*2-2
# B E  DM  AS
expr=13*4**2+8/4-(10+5)         #13*4**2+8/4-15    13*16+8/4-15  208+8/4-15    208+2.0-15       210.0-15    195.0
print(expr)

195.0

# Input() Function------ Getting input from user

In [32]:
value1=int(input("Enter first number: "))
value2=int(input("Enter second number: "))
day=input("What are you learning: ")

Enter first number: 5
Enter second number: 10
15

In [6]:
#3 numbers from user. Integer. Sum as well as average
# The sum is  {}  and their average is {}