# Arithmetic Operators

In [ ]:
# +      addition
# -      subtraction
# *      multiplication
# /      division
# **     Exponentiation
# //     Floor Division / Integer Division
# %      Remainder / Modulus

In [8]:
number1=10
number2=4
print("number1+number2 = ",number1+number2)
print("number1-number2 = ",number1-number2)
print("number1*number2 = ",number1*number2)
print("number1/number2 = ",number1/number2)
print("number1**number2 = ",number1**number2)
print("number1//number2 = ",number1//number2)
print("number1%number2 = ",number1%number2)

number1+number2 =  14
number1-number2 =  6
number1*number2 =  40
number1/number2 =  2.5
number1**number2 =  10000
number1//number2 =  2
number1%number2 =  2

# Operator Precedence

In [9]:
print(2+2*4)

10

In [13]:
#Brackets Exponentiation Division/Multiplication  Addition/Subtraction

#13*4**2+8/4-(10+5)     13*4**2+8/4-15     13*16+8/4-15     208+8/4-15        208+2.0-15       210.0-15   195.0
expr=13*4**2+8/4-(10+5)
print(expr)

195.0

# Escape Sequences
Written with the strings inside double quotes or single quotes
\t    Tab Space (3 to 4 spaces)
\n    New Line
\\    It removes the special meaning of escape sequences
\

In [17]:
#\t
print("T\tH\tU\tR\tS\tD\tA\tY")
print("1\t2\t3\t4\t5\t6\t7\t8\t9")

T	H	U	R	S	D	A	Y
1	2	3	4	5	6	7	8	9

In [23]:
#\n
print("T\tH\nU\tR\nS\tD\nA\tY")

print("My name is:\nShahjahan")

T	H
U	R
S	D
A	Y
My name is:
Shahjahan

In [24]:
#\\
print("T\\tH\\nU\\tR\\nS\\tD\\nA\\tY")

T\tH\nU\tR\nS\tD\nA\tY

In [26]:
print("My name is sddddddddddddddddddddddddddddddddddddddddddd\
      dddddddddddddddddddddddddddddddddddddddddddddddfffffffffffffffffffffffffff")

My name is sddddddddddddddddddddddddddddddddddddddddddd      dddddddddddddddddddddddddddddddddddddddddddddddfffffffffffffffffffffffffff

In [30]:
#Exercise 2.8
#square is power of 2
#cube is power of 3
print("number\tsquare\tcube")
print(0,"\t",0**2,"\t",0**3)
print(1,"\t",1**2,"\t",1**3)
print(2,"\t",2**2,"\t",2**3)

number	square	cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8

In [36]:
#A person who works 25 days a month
#per day he works for 8 hours
#Per hour he gets 10 pounds
#Calculate how much pay/money he gets during one month
Total_days=25
hours_per_day=8
pay_per_hour=10
pay_per_day=   hours_per_day*pay_per_hour
print("The man gets ",pay_per_day," pounds per day")
print("The total pay he gets per month is ",pay_per_day*Total_days,"pounds")

The man gets  80  pounds per day
The total pay he gets per month is  2000 pounds

In [ ]:
#Ali drinks 2 glasses of milk every day
#Ali also eats one apple every day
# Calorie intake for 1 glass of milk is 300 calories
# Calorie intake for 1 apple is 200 calories
#Calculate Total calories in one month
#Calculate Total calories in one year

# Type Conversion
In type conver