# Print Function

In [19]:
#print statement
#syntax  (way of writing your code where you follow some rules)
#python is case sensitive language (if something is in lower case letters then you must write them in lower case)
print("Hello World")
print(5)
print(5.5)
print(True)

Hello World
5
5.5
True

# Data types

In [2]:
#Data types
#String     str       written in double quotes and single quotes  (it can have any character  2@aA.>)
#integers   int       basically numbers without decimal part    23,45,0,-12,100
#floats     float     These numbers include part               23.5, 100.00,0.5,-98.75
#Boolean    bool      True,False

print("Hello World")  #string
print(5)              #integer
print(5.5)            #float
print(True)           #boolean

Hello World
5
5.5
True

# Type Function

In [3]:
#type()    type function is used to check the type of a value

In [4]:
print(type("My name"))    #string
print(type(5))
print(type(5.5))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Variables and Assignments

In [5]:
#variables are used to store values
#Rules to give variable names
#Variable name should only consist of letters, numbers and underscores  _
#The first character of variable name cannot be a number
#It should not be a python keyword

In [1]:
number1=55
number2=45
print("The first number is:",number1 ,"The second number is:", number2)

SyntaxError: invalid syntax (<ipython-input-1-9bef0f3fccf8>, line 1)

In [9]:
name="Ali"
age=23
weight=55.5
black_hair=True

print("Hello my name is: ",name)
print("My age is",age)
print("My weight is",weight)
print("I have black hairs",black_hair)

Hello my name is:  Ali
My age is 23
My weight is 55.5
I have black hairs True

# Arithmetic Operators

In [ ]:
# +      addition
# -      subtraction
# *      multiplication
# /      division
# **     Exponentiation
# //     Floor Division / Integer Division
# %      Remainder / Modulus

In [3]:
number1=10
number2=3
print("number1+number2 = ",number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1**number2)

number1+number2= 13
7
30
3.3333333333333335
1000

In [16]:
#4 numbers perform arithmetic operations

6