# String Concatenation
Use of + operator between two or more strings in order to join them

In [2]:
name='Hassan'
country='England'
print(name+' '+country)

Hassan England

In [5]:
age=25
print('My age is: '+str(age))

TypeError: can only concatenate str (not "int") to str

In [7]:
str1='85'
str2='66'
print(str1+str2)

8566

# Type Conversion
Conversion from one data type to another data type is called type conversion
int to str
str to int
str to float
float to str
float to int
int to float

In [16]:
number1=25
number2=55.75
str1='780'

#integer to string     using  str()
value1=str(number1)
print('The type of value1 is',type(value1))
print('Value1 is: ',value1)


#string to integer     using  int()
value2=int(str1)
print('The type of value2 is',type(value2))
print('Value2 is: ',value2)


#string to float    using  float()
value3=float(str1)
print('The type of value3 is',type(value3))
print('Value3 is: ',value3)

#Homework
#float to string
#float to integer
#integer to float

The type of value1 is <class 'str'>
Value1 is:  25
The type of value2 is <class 'int'>
Value2 is:  780
The type of value3 is <class 'float'>
Value3 is:  780.0

# input function
input()  it is used to take a value from the user
input() function always gives you a string value

In [12]:
name=input('Enter your name: ')
print("The name is",name)

Enter your name: Peter
The name is Peter

In [18]:
number1=int(input("Enter first number: "))
number2=int(input("Enter second number: "))
print(number1+number2)

Enter first number: 75
Enter second number: 15
90

# fstrings , string formatting

In [25]:
food='pizza'
temperature=10
Weather=True
print('I like to eat ',food, 'Today the temperature is', temperature,'Celsius. Today the weather is cold:',Weather)

I like to eat  pizza Today the temperature is 10 Celsius. Today the weather is cold True

In [27]:
food='pizza'
temperature=10
Weather=True
print(f'I like to eat {food} Today the temperature is {temperature} Celsius. Today the weather is cold:{Weather}')

I like to eat pizza Today the temperature is 10 Celsius. Today the weather is cold:True

In [29]:
food='pizza'
temperature=10
Weather=True
print('I like to eat {} Today the temperature is {} Celsius. Today the weather is cold:{}'.format(food,temperature,Weather))

I like to eat 10 Today the temperature is True Celsius. Today the weather is cold:pizza

In [4]:
#Take three integer values using input() function 
#Calculate squares and cubes of each values and print out them
#You have to calculate the total sum of squares and cubes separately
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
num3=int(input("Enter third number: "))
print(f"Square of {num1} is {num1**2}, {num2} is {num2**2} and {num3} is {num3**2}")
print(f"Cube of {num1} is {num1**3}, {num2} is {num2**3} and {num3} is {num3**3}")
print(f"So the sum of squares of {num1},{num2} and {num3} is {num1**2+num2**2+num3**2}")
print(f"So the sum of cubes of {num1},{num2} and {num3} is {num1**3+num2**3+num3**3}")

Enter first number: 3
Enter second number: 4
Enter third number: 5
Square of 3 is 9, 4 is 16 and 5 is 25
Cube of 3 is 27, 4 is 64 and 5 is 125
So the sum of squares of 3,4 and 5 is 50
So the sum of cubes of 3,4 and 5 is 216